<h1>Header</h1>
<form action="">
    <label for="name">Name</label>
    <input type="text" id="name">
    <label for="email">Email</label>
    <input type="text" id="email">
    <button>Submit</button>
    <br>
    <label for="name">Name</label>
    <input type="text" id="name">
    <label for="email">Email</label>
    <input type="text" id="email">
    <button>Submit</button>
    <br>
    <label for="name">Name</label>
    <input type="text" id="name">
    <label for="email">Email</label>
    <input type="text" id="email">
    <button>Submit</button>
</form>
<h1>Footer</h1>